<h1>Cageflix</h1>
<h2>Netflix for Nic Cage movies</h2>
<%= link_to "Add Movie", new_movie_path %>

<% @movies.each do |movie| %>
  <div class="movie">
    <h1> <%= movie.name %><%= "(#{movie.year})" %> </h1>
    <p><%= movie.synopsis %></p>
  </div>
<% end %>